{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
{% include "forms/errors.html" %}
<form method="post">
    {% csrf_token %}
    <div class="input">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
    </div>

    <div class="input">
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>

    <div class="input">
        <input class="button" type="submit" name="login" value="Log In" id="login">
    </div>
</form>
{% endblock %}

{% block jsbody %}
    <script src="{% static 'js/formvalidator.js' %}"></script>
{% endblock %}
